@model EveryDayArticle.Web.Models.PasswordChangeModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
<body style="background-color:#F0F0F0">
<br />
<h1>Şifre Değiştirme</h1>
<hr/>
@if (ViewBag.success == "true") {
    <div class="alert alert-info">
        Şifreniz Güncellenmiştir
    </div>
}
else {
    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <br />
                @Html.ValidationSummary()
                @using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post)) {
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">
                            Eski Şifreniz
                        </label>
                        <div class="col-md-10">
                            @Html.PasswordFor(Model => Model.PasswordOld, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordOld)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">
                            Yeni Şifreniz
                        </label>
                        <div class="col-md-10">
                            @Html.PasswordFor(Model => Model.PasswordNew, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordNew)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">
                            Onay Yeni Şifreniz
                        </label>
                        <div class="col-md-10">
                            @Html.PasswordFor(Model => Model.PasswordConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordConfirm)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" value="save" name="btn" class="btn btn-primary">
                                Şifre Değiştir
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
</body>
